.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999;
    background: rgba(0,0,0,.5);
    padding-top: 40vh;
    visibility: hidden;
    opacity: 0;
    transition: all .1s ease-in-out;
}

.overlay.show {
    visibility: visible;
    opacity: 1;
}

.fileselect-element .card-img-top{
    height: 100px;
    width: auto;
    flex-grow: 1;
    object-fit: contain;
}

.fileselect-element:hover,
.fileselect-element:focus {
    background: #eee;
    cursor: pointer;
}

.fileselect-element.active {
    border-color: #2fba52;
    background: #eee;
}
