.dropdown-menu-searchable {
    position: relative;
    padding: 0;
}

.dropdown-menu-searchable-filter {
    position: sticky;
}

.dropdown-menu-searchable-options {
    max-height: 30vh;
    overflow: auto;
    padding: .5rem 0;
}

.wysiwyg-placeholder {
    position: relative;
    background: #eee;
    color: #333;
    border-radius: 1rem;
    padding: 2px;
    margin-bottom: 4px;
    text-align: center;
    box-shadow: #ddd 2px 2px 2px;
}

.wysiwyg-placeholder:hover,
.wysiwyg-placeholder:focus {
    font-weight: 500;
}

.wysiwyg-placeholder:before {
    content: '{...}';
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 12px;
    padding: 0 5px;
    color: #555;
    font-weight: normal;
}

.wysiwyg-placeholder-small {
    background: #eee;
    color: #333;
    border-radius: 1rem;
    padding: 2px;
}
