.modal .modal-hidden {
  display: none;
}
$border-radius: .25rem;
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";

$enable-gradients: false;
$enable-rounded: true;
$enable-shadows: false;
$enable-smooth-scroll: true;
$theme-colors: (
        "primary": $purple-500,
        "secondary": $gray-600,
        "success": $green-500,
        "info": $blue-500,
        "warning": $orange-700,
        "danger": $red-600,
        "light": $gray-100,
        "dark": $blue-900
);
$pagination-active-bg: $blue-900;
$pagination-active-border-color: $pagination-active-bg;
$pagination-color: $pagination-active-bg;

@import '~bootstrap';

.collapsable-header.collapsed {
  transition: .2s box-shadow, transform ease-in-out;
}

.collapsable-header.collapsed:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px !important;
  transform: scale(1.001);
}

.modal-content {
  z-index: $zindex-modal;
}

.pars-debug {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  width: auto;
  background: lightblue;
  border: 1px black solid;
}

@include media-breakpoint-up(md) {
  main {
    display: flex;
  }

  .sidebar.container-fluid {
    padding: 0;
  }

  .sidebar .navbar {
    margin-left: var(--#{$variable-prefix}gutter-x, #{$container-padding-x});
  }

  .sidebar {
    flex-shrink: 1;
    width: auto;
  }
  .sidebar .navbar-toggler {
    display: none;
  }
  .sidebar .collapse {
    display: flex;
    flex-direction: column-reverse;
  }
  .sidebar .navbar-nav {
    flex-direction: column;
  }
  .sidebar .navbar .container-fluid{
    flex-direction: column;
    align-items: flex-start;
  }
  .sidebar .navbar .nav-link {
    padding-left: 0 !important;
  }
}
